<template>
  <div id="sidebar">
    <!-- <p>this is the sidebar</p> -->
    <aside class='menu'>
      <p class="menu-label">
        <!-- Deck -->
      </p>
      <ul class="menu-list mt-2 ml-2" style='list-style-type:none'>
        <li>
          <router-link :to="{ name: 'home' }" >
              <font-awesome-icon icon='home' /> Home
          </router-link>
        </li>
      <!--   <li>
          <router-link :to="{ name: 'decks' }" >
              <font-awesome-icon icon='th'/> Decks
          </router-link>
        </li> -->
        <li>
          <router-link :to="{ name: 'cards' }" >
              <font-awesome-icon icon='book-open' /> Cards
          </router-link>
        </li>
      <!--   <li>
          <router-link :to="{name: 'new_deck'}">
            <font-awesome-icon icon='plus' /> Add New Deck
          </router-link>
        </li>
        <li>
          <router-link :to="{name: 'new_card'}">
            <font-awesome-icon icon='plus' /> Add New Card
          </router-link>
        </li> -->

      </ul>
    </aside>
  </div>
</template>

<script>
  export default {
    name: 'sidebar'
  }
</script>
