<template>
  <div class="card-component-back">
    <!-- <p>{{!card.flipped}}</p> -->
    <ul v-show="deck.cards[index]" class='card'>
    <!-- this is card {{index +1}} back -->
      <li>Word: {{deck.cards[index].word}}</li>
      <li>Translation: {{deck.cards[index].translation}}</li>
      <li>
        <img :src="deck.cards[index].picture" alt="">
      </li>
    </ul>
  </div>
</template>


<script>

  export default {
    name: 'card-component-back',
     props: {
      card: {
        required: true,
        type: [Object, Array]
      },
    }
  }
</script>
