<template>
  <div id="card-component-front">
    <!-- <div class="card"> -->
      <p>{{card.word}}</p>
      <img class='image' :src="card.picture">
    <!-- </div> -->
  </div>
</template>

<script>
  export default {
    name: 'card-component-front',
    props: {
      card: {
        required: true,
        type: [Object, Array]
      },
    }
  }
</script>

<style>
  .card {
    display: block;
    width: 400px;
    height: 200px;
    padding: 80px 50px;
    /*background-color: red;*/
    border-radius: 7px;
    margin: 5px;
    text-align: center;
    line-height: 27px;
    cursor: pointer;
    position: relative;
    color: black;
    font-weight: 600;
    font-size: 20px;
    -webkit-box-shadow: 9px 10px 22px -8px rgba(209,193,209,.5);
    -moz-box-shadow: 9px 10px 22px -8px rgba(209,193,209,.5);
    box-shadow: 9px 10px 22px -8px rgba(209,193,209,.5);
    will-change: transform;
  }

  .image {
    max-width: 20px;
    max-height: 20px;
  }
</style>
