<template>
<div id="edit-card">
  <form encType="multipart/form-data" @submit.prevent="editCard">
      <div class="word">
        <div class="field">
          <div>
            <label class="label">Word</label>
          </div>
          <input
            v-model='card.word'
            type="string"
            placeholder="Fill in new word"
            autofocus="autofocus"
            required="required"
          >
        </div>
      </div>
      <div class="translation">
        <div class="field">
          <div class="mt-3">
            <label class="label">Translation</label>
          </div>
          <input v-model='card.translation' type="string" placeholder="Fill in new translation" autofocus="autofocus" required="required">
        </div>
      </div>
      <!-- <div class="picture">
        <div class="field">
          <div class="mt-3">
            <label for="" class="label">
              Upload picture from your files
            </label>
            <picture-upload-component v-model='imageFile' />
          </div>
          <div>
            <label for="" class="label">
              Upload picture from the web
            </label>
            <form @submit.prevent='formSubmitted()'>
              <label for="searchTerm">Search Term</label>
              <input type="text" id="search-term" v-model='searchTerm'>
              <button type="submit">Search</button>
            </form>
            <img v-if='loading' src="https://i.imgur.com/LVHmLnb.gif" alt="loading image gif">
            <section>
              <ul>
                <li v-for='(image, index) in computedImages' :key='index'>
                  <img
                    :class="{ unSplashThumbActive: isActive[image.urls.raw] }"
                    :src='image.urls.raw'
                    alt="image of your search term"
                    class='image'
                    @click="selectImage(image.urls.raw)"
                    :value="image.urls.raw"
                  />
                </li>
              </ul>
              <div >
                <button v-if='computedImages.length' @click="showMoreImages" id='more-images-btn'>Show more images</button>
              </div>
            </section>
          </div>
         </div>
       </div> -->
      <!-- <div class="decks">
         <ul>
          <li
            v-for="(deck, index) in decks"
            :key='index'
            class='card'
            @click="selectDeck(deck.id)"
            :value= 'deck.id'
          >
          {{deck.name}}
          </li>
        </ul>
        <h4>This is your selection:</h4>
        <p> {{ card.deck_ids }} </p>
      </div> -->
      <div class="buttons">
        <button class="button is-success">
          <router-link :to="{name: 'deck', params: { id: deck.id }}" >
            <span class="mr-2">
              <font-awesome-icon icon="save"></font-awesome-icon>
            </span>
            <span>Save</span>
          </router-link>
        </button>
        <router-link :to="{name: 'deck', params: { id: deck.id }}">
          <button class="button is-success ml-4">
            <span>Discard</span>
          </button>
       </router-link>
      </div>
    </form>
</div>

</template>

<script>
  // import PictureUploadComponent from '@/components/pictures/PictureUploadComponent'
  // import DeckComponent from '@/components/decks/DeckComponent'
  import {mapState} from 'vuex'
  // import API from '@/API'

  export default {
    name: 'edit-card',
    mounted() {
      this.$store.dispatch('getCard', this.$route.params.id)
    },
    computed: mapState({
      computedImages() {
        // console.log(this)
        return this.limit ? this.images.slice(0, this.limit): this.images
      },
        ...mapState(['card', 'decks', 'deck']),
    }),
    methods: {
      deleteCard() {
        alert("are you sure?")
      },
      editCard() {
        this.$store.dispatch('editCard', this.card)
      },
    },
    // data() {
    //   return {
    //     card: {
    //       word: '',
    //       translation: '',
    //       picture: '',
    //       hint: '',
    //     }
    //   }
    // },
    // components: {
    //   'picture-upload-component': PictureUploadComponent
    //   'card-component': CardComponent
    // },
  }
</script>

<style>
  .card {
    display: block;
      width: 350px;
      height: 350px;
      padding: 80px 50px;
      background-color: white;
      border-radius: 7px;
      margin: 5px;
      text-align: center;
      line-height: 27px;
      position: relative;
      color: black;
      font-weight: 600;
      font-size: 20px;
      -webkit-box-shadow: 9px 10px 22px -8px rgba(209,193,209,.5);
      -moz-box-shadow: 9px 10px 22px -8px rgba(209,193,209,.5);
      box-shadow: 9px 10px 22px -8px rgba(209,193,209,.5);
      will-change: transform;
  }
</style>
