<template>
  <div id="cards-index">
    <router-link :to="{name: 'new_card'}">
      <font-awesome-icon icon='plus' />
    </router-link>
    <ul class="flashcard-list">
      <li v-on:click="toggleCard(card)" v-for="(card, index) in cards" :key='card.id'>
        <transition name="flip">
          <p v-if="!card.flipped" key="front" class="card">{{card.word}}
            <span v-on:click="cards.splice(index,1)" class="delete-card">X</span>
          </p>
          <p v-else key="back" class="card">{{card.translation}}
            <img :src="card.picture" alt=""> {{card.picture}}
            <span v-on:click="cards.splice(index,1)" class="delete-card">X</span>
          </p>
        </transition>
        <div class="buttons">
          <button class='btn btn-sm'>
            <span @click="decks.splice(index, 1)">
              <font-awesome-icon icon='trash' />
            </span>
          </button>
          <button class='btn btn-sm'>
            <span @click="editDeck(index)">
              <font-awesome-icon icon='edit' />
            </span>
          </button>
          <button class='btn btn-sm'>
            <span @click="playDeck(index)">
              <font-awesome-icon icon='play' />
            </span>
          </button>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
  import {mapState} from 'vuex'
  export default {
    name: 'cards-index',
    methods: {
    toggleCard: function(card){
      card.flipped = !card.flipped;
      }
    },
    computed: mapState({
      cards: state => state.cards
    }),
    // to ge the decks, we need to call the action fetchDeck, defined in the store
    mounted() {
      this.$store.dispatch('fetchCards')
    },
  }
</script>

<style>
  .card {
  display: block;
    width: 350px;
    height: 350px;
    padding: 80px 50px;
    /*background-color: red;*/
    border-radius: 7px;
    margin: 5px;
    text-align: center;
    line-height: 27px;
    cursor: pointer;
    position: relative;
    color: black;
    font-weight: 600;
    font-size: 20px;
    -webkit-box-shadow: 9px 10px 22px -8px rgba(209,193,209,.5);
    -moz-box-shadow: 9px 10px 22px -8px rgba(209,193,209,.5);
    box-shadow: 9px 10px 22px -8px rgba(209,193,209,.5);
    will-change: transform;
}
</style>
