<template>
  <div id="card-new">
    <form encType="multipart/form-data" @submit.prevent='newCard()'>
      <div class="word">
        <div class="field">
          <div>
            <label class="label">Word</label>
          </div>
          <input v-model='card.word' type="string" placeholder="Fill in new word" autofocus="autofocus" required="required">
        </div>
      </div>
      <div class="translation">
        <div class="field">
          <div class="mt-3">
            <label class="label">Translation</label>
          </div>
          <input v-model='card.translation' type="string" placeholder="Fill in new translation" autofocus="autofocus" required="required">
        </div>
      </div>
      <div class="picture">
        <div class="field">
          <div class="mt-3">
            <label for="" class="label">
              Upload picture from your files
            </label>
            <picture-upload-component v-model='imageFile' />
          </div>
          <div>
            <label for="" class="label">
              Upload picture from the web
            </label>
            <form @submit.prevent='searchImages()'>
              <label for="searchTerm">Search Term</label>
              <input type="text" id="search-term" v-model='searchTerm'>
              <button type="submit">Search</button>
            </form>
            <img v-if='loading' src="https://i.imgur.com/LVHmLnb.gif" alt="loading image gif">
            <section>
              <ul>
                <!-- <li v-for='(image, index) in images' :key='index'> -->
                <li v-for='(image, index) in computedImages' :key='index'>
                  <img
                    :class="{ unSplashThumbActive: isActive[image.urls.raw] }"
                    :src='image.urls.raw'
                    alt="image of your search term"
                    class='image'
                    @click="selectImage(image.urls.raw)"
                    :value="image.urls.raw"
                  />
                </li>
                <button v-if='computedImages.length' @click="showMoreImages()" id='more-images-btn'>Show more images</button>
              </ul>
            </section>
          </div>
         </div>
       </div>
      <div class="decks">
        <ul>
          <li
            v-for="(deck, index) in decks"
            :key='index'
            class='card'
            @click="selectDeck(deck.id)"
            :value= 'deck.id'
          >
          {{deck.name}}
          </li>
        </ul>

        <h4>This is your selection:</h4>
        <p> {{ card.deck_ids }} </p>
      </div>
      <div class="buttons">
        <button class="button is-success">
          <span class="icon">
            <font-awesome-icon icon="save"></font-awesome-icon>
          </span>
          <span>Save</span>
        </button>
      </div>
    </form>
  </div>
</template>

<script>
  import PictureUploadComponent from '@/components/pictures/PictureUploadComponent'
  // import DeckComponent from '@/components/decks/DeckComponent'
  import {mapState} from 'vuex'
  import API from '@/API'

  export default {
    name: 'card-new',
    components: {
      'picture-upload-component': PictureUploadComponent
      // 'deck-component': DeckComponent
    },
    computed: {
        computedImages() {
          console.log(this)
          return this.limit ? this.images.slice(0, this.limit): this.images

        },
          // mapState({decks: state => state.decks}) can be shortened to:
          // mapState({ decks : 'decks'})
          // can be shortened to
        ...mapState(['decks']),
    },
    mounted() {
      this.$store.dispatch('fetchDecks')
    },
    data() {
      return {
        isActive: {},
        imageFile: null,
        searchTerm: '',
        images: [],
        limit: 3,
        loading: false,
        showButton: false,
        // imageUnsplash: false, //this refers to the unordered list of images that will be retrieved from unsplash API, in the beginning there are no image(s) yet until you hit the search button
        card: {
          word: '',
          translation: '',
          picture: '',
          hint: '',
          flipped: false,
          deck_ids: [
            parseInt(this.$route.query.id),
          ],
        }
      }
    },
    methods: {
      showMoreImages() {
        // console.log("Showing more images")
        this.limit = null
        // console.log(event.target)
        event.target.style.display = 'none'
        // (this.more-images-btn.show) = !(this.more-images-btn.show)
        // this.classList.add('hidden')
        // remove()
        // style.visibility='hidden'
        // this.style.visibility= 'hidden'
        // .style.display = 'none'
        //  remove the button
        // id = more-images-btn

      },
      onFileSelected(e) {
        this.picture = e.target.files[0]
      },
      selectImage(url) {
        if(!this.isActive[url]){
          this.$set(this.isActive, url, true)
          this.card.picture = url
          event.target.style.border = 'gray solid'
        } else  {
          this.$set(this.isActive, url, true)
          event.target.style.border = 'none'
        }
          // console.log(this.card.picture)
      },
      selectDeck(id) {
        if(!this.isActive[id]){
          this.$set(this.isActive, id, true)
          this.card.deck_ids.push(id)
          event.target.style.border = 'gray solid'
        } else {
          event.target.style.border = 'none'
        }
      },
      searchImages() {
        // console.log("Searching for images")
        this.loading = true
        this.images = []
        console.log(this.searchTerm)
        API.search(this.searchTerm)
          .then(images => {
            this.images = images
            // console.log(images)
            this.loading = false
          })
       },
      newCard() {
        // console.log("Creating new card")
        // console.log(this.card)
        this.$store.dispatch('postCard', this.card)
        .then (({data}) => {
          // console.log(data)
          this.$router.push({ name: 'card', params: { id: data.id }})
        })
      },
    }
  }
</script>

<style>
  .image {
    max-width: 200px;
    max-height: 200px;
  }
</style>
