<template>
  <div id="show-card">
    <div class="container">
      <div class="columns">
        <card-component-front :card='card' />
      </div>
    </div>
  </div>
</template>


<script>
  import CardComponentFront from '@/components/cards/CardComponentFront'
  import { mapState } from 'vuex'
  export default {
    name: 'show-card',
    components: {
      'card-component-front': CardComponentFront},
    computed: mapState({
      card: state => state.card
    }),
    mounted() {
      this.$store.dispatch('getCard', this.$route.params.id)
    }
  }
</script>

<style>
.card {
  display: block;
    width: 350px;
    height: 350px;
    padding: 80px 50px;
    /*background-color: red;*/
    border-radius: 7px;
    margin: 5px;
    text-align: center;
    line-height: 27px;
    cursor: pointer;
    position: relative;
    color: black;
    font-weight: 600;
    font-size: 20px;
    -webkit-box-shadow: 9px 10px 22px -8px rgba(209,193,209,.5);
    -moz-box-shadow: 9px 10px 22px -8px rgba(209,193,209,.5);
    box-shadow: 9px 10px 22px -8px rgba(209,193,209,.5);
    will-change: transform;
}
</style>


