<template>
  <div id="landing-page">
    <!-- logo central -->
    <div id='logo'>logo</div>
    <!--  sign in button right to logo -->
    <button id='sign-in-btn'>Sign in</button>
    <!-- Short Description of Flashback -->
    <div>
      <h5>Flashback is your new favorite study budy</h5>
      <p class="text">
        With streamlined card creation and the ability to recall concepts with the help of images, you can learn anything - in a flash!
      </p>
      <div>
      <!-- button Try it now! -->
        <router-link :to="{name: 'dashboard'}" class="" >
         <button id="try-btn">Try it now!</button>
        </router-link>
       </div>
    </div>
    <div class="wave">
      <h5>Why Flashcards?</h5>
      <p class="text-cursive">
        The science behind why flashcards are still one of today’s best learning tools
      </p>
      <div class="explanation">
        <div style="display:flex; justify-content: center; align-items: center">
          <p class="circle">1</p>
        </div>
        <h5>
          Flashcards engage “active recall”
        </h5>
        <p class="text">
          Active recall, or, attempting to remember a concept from scratch rather than simply recognizing it, has been proven to create stronger neuron connections. And because flashcards can so easily facilitate repetition, they are the best way to create multiple memory-enhancing recall events.
        </p>
      </div>

      <div class="explanation">
        <div style="display:flex; justify-content: center; align-items: center">
          <p class="circle" >2</p>
        </div>
        <h5>
          Flashcards utilize your metacognitive facilities
        </h5>
        <p class="text">
          When you reveal the answer side of a flashcard to assess your correctness, you are essentially asking yourself “How did my answer compare to this correct answer?” and “How well did I know (or not know) it?” This act of self-reflection is known as metacognition. Research shows that applying metacognition tends to ingrain memories deeper into your knowledge.
        </p>
      </div>

        <div class="explanation">
          <div style="display:flex; justify-content: center; align-items: center">
            <p class="circle">3</p>
          </div>
        <h5>
          Flashcards allow for confidence-based repetition
        </h5>
        <p class="text">
          Flashcards can be grouped based on whether (or how often) you need to study them again. This practice of confidence-based repetition is proven by decades of research to be the most scientifically optimized way to improve memory performance.
        </p>
      </div>

      <div class="explanation">
        <div style="display:flex; justify-content: center; align-items: center">
          <p class="circle">4</p>
        </div>
        <h5>
          Flashcard retention is facilitated by spaced repetition
        </h5>
        <p class="text">
          Flashcards allow for another process called spaced repetition. This technique states that spacing out intervals between studying the same information again will increase the chances of recalling that information. Repeating flashcards after a period of time helps create permanent memories - as opposed to forcing the information in a short time, which doesn’t help it to stick.
        </p>
      </div>

      <div class="explanation">
        <div style="display:flex; justify-content: center; align-items: center">
          <p class="circle">5</p>
        </div>
        <h5>
          Images enhance recall
        </h5>
        <p class="text">
          While many struggle to memorize new words or numbers, our brains are well-tuned to recognize imagery. Mechanisms for recognizing visual threats or even remembering the way back home have evolved to support our basic survival. Take advantage of this memory-mapping technique by adding images to your flashcards to support better, faster retention.
        </p>
      </div>

      <div>
        <button id="sign-up-btn">
          Sign up now for free!
        </button>
      </div>
    </div>

    <div id="wrap-up">
        <!-- logo -->
        <h4 class="flashbac">flashbac</h4>
        <div>
          <p class="bottom-text">
            Your new favorite study buddy
          </p>
        </div>
      </div>
  </div>
</template>


<script>
  export default {
    name: 'landingpage'
  }
</script>

<style>
  #landing-page {
    display: center;
    /*display: inline-block;*/
    text-align: center;
    margin: 0 20px;
  }

  h5 {
  /*font-family: Poppins;*/
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #454545;
  margin: 0 12px;
  }

  #wrap-up {
    margin-top: 55px;
    background-color: #7278f2;
}

.bottom-text {
  width: 312px;
  height: 102.9px;
  /*font-family: Poppins;*/
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: white;
  display: inline-block;
  text-align: center;
}

  .flashbac {
    width: 150px;
    height: 32px;
    font-family: MontserratAlternates;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5024db;
    display: inline-block;
    text-align: center;
    margin-top: 55px;
  }

  .circle {
    height: 88px;
    width: 88px;
    background-color: white;
    border-radius: 50%;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    /*font-style: normal;*/
    /*letter-spacing: normal;*/
    color: #5024db;
    position: relative;
    /*vertical-align: middle;*/
  }

  .explanation {
    margin-top: 20px;
    margin-bottom: 20px;

  }

  .text {
    width: 279px;
    height: 80px;
    display: inline-block;
    text-align: center;
    /*font-family: Poppins;*/
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #454545;
    margin-right: 0 25px;
  }

  .text-cursive {
    width: 311px;
    height: 48px;
    display: inline-block;
    text-align: center;
    /*font-family: Poppins;*/
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
  }

  #logo {
  width: 48px;
  height: 48px;
  text-align: center;
  display: inline-block;
  background-color: var(--muted-teal);
}

 #bolt {
  width: 44px;
  height: 54px;
  border: solid 1px var(--purple);
  background-color: var(--purple);
}

 #sign-in-btn {
  text-align: center;
  display: inline-block;
  width: 96px;
  height: 40px;
  border-radius: 100px;
  border: solid 1px #7278f2;
  background-color: white;
  color: #7278f2;
  /*font-family: Poppins;*/
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
}

#sign-up-btn {
  width: 264px;
  height: 60px;
  border-radius: 100px;
  background-color: #7278f2;
}

#try-btn {
  width: 264px;
  height: 60px;
  border-radius: 100px ;
  border: none;
  background-color: #7278f2;
  margin: 20px;
  margin-bottom: 150px;
  /*font-family: Poppins;*/
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
}

.wave {
  background-color: #abd6da;
  padding-top: 45px;
  padding-bottom: 45px;
  margin: -20px;
}

</style>
