<template>
  <div id="dashboard">
    <!-- <div class="container-fluid"> -->
      <div class="new-option">
        <ul class="flashcard-list" style="list-style-type:none">
          <li>
            <router-link :to="{name: 'new_deck'}" class="card">
              +
              New Deck
            </router-link>
          </li>
          <li>
            <router-link :to="{name: 'new_card'}" class="card">
              + New Card
            </router-link>
          </li>
        </ul>
      </div>

      <h3>My Decks</h3>
        <div class="row">
          <ul>
            <li v-for= '(deck, index) in decks' :key='index' class='card w-100 h-45 mb-5'>
              <deck-component :deck='deck' />
            </li>
          </ul>
        </div>
    <!-- </div> -->
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import DeckComponent from '@/components/decks/DeckComponent'

  export default {
    name: 'Dashboard',
    components: {
      'deck-component': DeckComponent
    },
    // returns an object, that establishes the decks, which will have access to the state that gets the state of the decks
    computed: mapState({
      decks: state => state.decks,
      card : state => state.card,
    }),
    // to ge the decks, we need to call the action fetchDeck, defined in the store
    mounted() {
      this.$store.dispatch('fetchDecks')
    },
    methods: {
      deleteDeck(deck, index) {
        let response = confirm("Are you sure, you want to delete this deck?")
        if (response){
          this.decks.splice(index, 1)
          this.$store.dispatch('removeDeck', deck.id)
        }
        //  implement a modal to ask if sure
      },
    //   // editDeck(index) {
    //   // },
    //   // playDeck(index) {
    //   // }
    },
  }
</script>

<style>
#dashboard {
  display: block;
  align-items: center;
  margin: 0 50px;
}

.card {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #454545;
  width: 100px;
  height: 100px;
  /*padding: 80px 50px;*/
  border-radius: 7px;
  margin: 5px;
  /*display: block;*/
  align-items: center;
  /*text-align: center;*/
  line-height: 27px;
  cursor: pointer;
  /*position: relative;*/
  color: black;
  -webkit-box-shadow: 9px 10px 22px -8px rgba(209,193,209,.5);
  -moz-box-shadow: 9px 10px 22px -8px rgba(209,193,209,.5);
  box-shadow: 9px 10px 22px -8px rgba(209,193,209,.5);
  will-change: transform;
}

.row {
  display: block;
  align-items: center;
  text-align: center;
}

.flashcard-list {
  display: inline-block;
  align-items: center;
}

</style>
