<template>
  <div id="dashboard">
    <Navbar class='' />
    <div>
      <Sidebar class="columns"/>
    </div>
    <router-view />
  </div>
</template>

<script>
  import Navbar from '@/views/dashboard/partials/Navbar'
  import Sidebar from '@/views/dashboard/partials/Sidebar'

  export default {
    name: 'dashboard',
    components: { Navbar, Sidebar }
  }
</script>


<style>
  body {
  /*background-color: #7278f2;*/
  }
</style>
