<template>
  <div id="edit-deck">
    <form @submit.prevent="editDeck">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <h3 class="title is-uppercase">Register new Deck</h3>
          <div class="field">
            <div class="label">Name</div>
            <div class="control">
              <input class="input" v-model="deck.name" placeholder="Fill in new Deck's name" autofocus="autofocus" required="required"/>
            </div>
          </div>
        </div>
      </div>
      <div class="buttons">
        <button class="button is-success">
            <span class="mr-2">
              <font-awesome-icon icon="save"></font-awesome-icon>
            </span>
            <span>Save</span>

        </button>
        <router-link :to="{name: 'deck', params: { id: deck.id }}">
          <button class="button is-success ml-4">
            <span>Discard</span>
          </button>
       </router-link>
      </div>
    </form>
  </div>
</template>

<script>
  import {mapState} from 'vuex'

  export default {
    name: 'edit-deck',
    mounted() {
      this.$store.dispatch('getDeck', this.$route.params.id)
    },
    computed: mapState({
      deck: state => state.deck,
    }),
    methods: {
      editDeck() {
        this.$store.dispatch('editDeck', this.deck)
        .then (() => {
          // console.log(data)
          this.$router.push({ name: 'home'})
        })
      },
    },
  }
</script>
