<!-- <template>
  <div id="decks-index container">
    <h2>DECKS</h2>



    <div v-for= '(deck, index) in decks' :key='index'>

        <ul class="flashcard-list" style="list-style-type:none">
          <router-link :to="{ name: 'deck', params: { id: deck.id } }">
            <li>
              <p> {{deck.name}} </p>
            </li>
          </router-link>
          <span @click="decks.splice(index, 1)">
            <font-awesome-icon icon='trash' />
          </span>
          <span @click="editDeck(index)">
            <font-awesome-icon icon='edit' />
          </span>
        </ul>


    </div>
  </div>
</template>

<script>
  // let's this template access the information(the state) from the store
  import { mapState } from 'vuex'

  export default {
    name: 'decks-index',
    // returns an object, that establishes the decks, which will have access to the state that gets the state of the decks
    computed: mapState({
      decks: state => state.decks
    }),
    // to ge the decks, we need to call the action fetchDeck, defined in the store
    mounted() {
      this.$store.dispatch('fetchDecks')
    },
    methods: {
      deleteDeck(deck) {
        this.decks.$remove(deck)
      }
    }
  }
</script>
 -->
