<template>
  <div id="deck-new">
    <form @submit.prevent="newDeck">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <h3 class="title is-uppercase">Register new Deck</h3>
          <div class="field">
            <div class="label">Name</div>
            <div class="control">
              <input class="input" v-model="deck.name" placeholder="Fill in new Deck's name" autofocus="autofocus" required="required"/>
            </div>
          </div>
        </div>
      </div>
      <div class="columns is-multiline">
        <div class="column is-12" v-for="(card, index) in deck.cards_attributes" :key= 'index'>
          <div class="card">
            <div class="card-header">
              <div class="card-header-title is-uppercase">Card</div>
              <div class="card-header-icon">
                <span class="icon" @click="deleteCardForm(index)">
                  <font-awesome-icon icon="times"></font-awesome-icon>
                </span>
              </div>
            </div>
            <div class="card-content">
              <div class="columns">
                <div class="column">
                  <div class="field">
                    <div class="label">Word</div>
                    <div class="control">
                      <input class="input" v-model="card.word" placeholder="Insert Word" required="required"/>
                    </div>
                  </div>
                  <div class="field">
                    <div class="label">Translation</div>
                    <div class="control">
                      <input class="input" v-model="card.translation" placeholder="Fill in the word's translation" required="required"/>
                    </div>
                  </div>
                  <div class="field">
                    <div class="label">Hint</div>
                    <div class="control">
                      <input class="input" type="text" v-model="card.hint" placeholder="Fill a hint"/>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="field">
                    <div class="label">Picture</div>
                    <div class="control">
                      <textarea class="text" v-model="card.image" rows="7" placeholder="Add a picture">
                      </textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="buttons">
        <button class="button is-success">
          <span class="icon">
            <font-awesome-icon icon="save"></font-awesome-icon>
          </span>
          <span>Save</span>
        </button>
        <button class="button is-link" @click.prevent="addCardForm" style="margin-left: auto;">
          <span class="icon">
            <font-awesome-icon icon="plus"></font-awesome-icon>
          </span>
          <span>Add Card</span>
        </button>
      </div>
    </form>
  </div>
</template>

<script>
  export default {
    name: 'deck-new',
    data() {
      return {
        deck: {
          cards_attributes: []
        }
      }
    },
    methods: {
        newDeck() {
          this.$store.dispatch('postDeck', this.deck)
            .then(response => {
              console.log(response)

              this.$router.push({ name: 'deck', params: { id: response.data.id }})
            })
        },
        addCardForm() {
          this.deck.cards_attributes.push(
            { word: '', translation: '', hint: '', image: '' }
          )
        },
        deleteCardForm(index) {
          this.deck.cards_attributes.splice(index, 1)
      }
    }
  }
</script>
