<template>
  <div id="play-deck">

    <!-- <p v-if='!card.flipped'>front
      <button @click= 'flipCard()'>flip to back</button>
    </p>
    <p v-else>back
      <button @click= 'card.flipped=!card.flipped'>flip to front</button></p> -->
    <!-- loop through all cards -->
    <ul class="flashcard-list">
      <div v-if='deck.cards'>
         <!-- <p v-show='deck.cards.length'>{{deck.cards.length}} card(s)</p> -->
            <p>{{index+1}}/{{deck.cards.length}}</p>
          <transition-group name="flip">
            <div v-if="state== 'unflipped'" :key="index">
              <ul v-show="deck.cards[index]" class='card'>
                <!-- this is card {{index +1}} front -->

                <li>{{deck.cards[index].word}}</li>
                <li>
                  <img :src="deck.cards[index].picture" alt="">
                </li>
                <!-- <card-component-front :card='card' /> -->
               <!-- user clicks check card -->
                <button @click="state ='!unflipped'"> Check Card </button>
                <!-- </ul> -->
              </ul>
            </div>

            <!-- card flips, shows back of the card -->
            <div v-else :key="index" class=" d-flex flex-column">
              <!-- <card-component-back :card='card'/> -->
              <!-- <p>{{!card.flipped}}</p> -->
              <ul v-show="deck.cards[index]" class='card'>
              <!-- this is card {{index +1}} back -->
                <!-- <card-component-back :card='card' /> -->

                <li>Word: {{deck.cards[index].word}}</li>
                <li>Translation: {{deck.cards[index].translation}}</li>
                <li>
                  <img :src="deck.cards[index].picture" alt="">
                </li>
                <li>
                 <!-- <button class='btn btn-sm'>
                  <span @click='confidenceLevel'>
                    <font-awesome-icon icon='fa-thumbs-up' />
                  </span>
                  </button> -->
                </li>
              </ul>
              <!-- User clicks next card, index increments by one, next front of card shows -->
              <!-- <button @click="[(index++), (card.flipped = false), (card.guess = '')]" :key="index" class="mr-25 align-self-end mt-auto">Next Card</button> -->
               <button @click="[(index+1 < deck.cards.length) ? [(index++), state = 'unflipped', (card.guess = '')] : [(index = 0), (state = 'unflipped'), (card.guess = '')]]" :key="index" class="mr-25 align-self-end mt-auto">Next Card</button>
          </div>

          </transition-group>
        </div>
      </ul>

    <!-- if no more cards are in deck, the user gets congratulated and the deck
    gets status: finished
       add status column to decks! -->


    <!-- NOT MVP, implemenation to follow-->
        <!-- user rates confidence -->
          <!-- if confidence is high, card gets removed from round -->
          <!-- else if confidence is low or non existent, card stays in deck, at the end
          of the round -->
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  // import CardComponentBack from '@/components/cards/CardComponentBack'
  // import CardComponentFront from '@/components/cards/CardComponentFront'


  export default {
    name: 'play-deck',
    components: {
      // 'card-component-back': CardComponentBack,
      // 'card-component-front': CardComponentFront,
    },
    data(){
      return {
        index: 0,
        state: 'unflipped'
        // gues: "",
      }
    },
    computed: mapState({
      deck: state => state.deck,
      card: state => state.card,
    }),
    mounted() {
      // why do we not need mounted??
      // getDeck from DB through store
      // this.$store.dispatch('getDeck', this.$route.params.id)
      // console.log(this.$route.params.id)
      // this.$store.dispatch('getCard', this.$route.params.id)
    },

  methods: {
    // flipCard(deck, card, index) {
      // console.log(deck.cards[index].id)
      // console.log(`cardindex ${index}`)
      // console.log(deck.cards[index].word)
      // console.log(`card flipped  ${!card.flipped}`)
    // !'unflipped' = 'unflipped'
      // deck.cards.flipped = !deck.cards.flipped;
      // console.log(`card flipped ${card.translation}${card.flipped}`)
      // console.log(`see array of cards: ${this.deck.cards[0]}`)
    },
    // nextCard(card){
    //   card.index +=1
    //   card.flipped = false
    //   console.log(card.index)

      // console.log(`next card pressed, this card's index: ${index}`)
      // console.log(`this deck's length ${this.deck.cards.length}`)

      // if ((index += 1) >= this.deck.cards.length) {
      //   index = 0
        // console.log("You reached the end of the deck")
      // }
      // console.log(`deck length ${this.deck.length}`)
        // console.log(`next card's index ${index}`)
    // },
  // }
}
</script>

<style>
  ul {
    padding-left: 0;
    display: flex;
    flex-flow: row wrap;
  }

  li {
    list-style-type: none;
    padding: 10px 10px;
    transition: all 0.3s ease;
  }
    img {
    max-width: 100px;
    max-height: 100px;
  }

   .card {
    display: block;
    width: 900px;
    height: 500px;
    padding: 80px 50px;
    /*background-color: red;*/
    border-radius: 7px;
    margin: 5px;
    text-align: center;
    line-height: 27px;
    cursor: pointer;
    position: relative;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    -webkit-box-shadow: 9px 10px 22px -8px rgba(209,193,209,.5);
    -moz-box-shadow: 9px 10px 22px -8px rgba(209,193,209,.5);
    box-shadow: 9px 10px 22px -8px rgba(209,193,209,.5);
    will-change: transform;
  }


  .flip-enter-active {
    transition: all 0.4s ease;
  }

  .flip-leave-active {
    display: none;
  }

  .flip-enter, .flip-leave {
    transform: rotateY(180deg);
    opacity: 0;
  }
</style>

