<template>
  <div id="deck-show">
    <div class="container-fluid">
      <h2>{{deck.name}}</h2>
      <!-- insert date last studied -->
      <!-- add search functionality -->
      <div v-if='deck.cards'>
        <p v-show='deck.cards.length'>{{deck.cards.length}} card(s)</p>
      </div>
      <div class="row">
        <ul class="flashcard-list" style="list-style-type:none">
          <li>
           <router-link :to="{name: 'new_card', query: {id: deck.id}}" class="card"
           >
             Add New Card
           </router-link>
          </li>
          <li>
            <router-link :to="{name: 'play_deck', query: {id: deck.id}}" class="" >
              <button class='btn btn-sm'>
                <span>
                  <font-awesome-icon icon='play' />
                </span>
              </button>
            </router-link>
          </li>
          <!-- <li>
            <form action="">
            <div class="field">
              <div class="label">Search</div>
              <div class="control">
                <input class="input"  placeholder="Search for a card" autofocus="autofocus" required="required"/>
              </div>
            </div>
          </form>
          </li> -->
        </ul>
      </div>
      <div class="row">
        <ul>
          <li>
            <div v-for= '(card, index) in deck.cards' :key= 'index'>
              <router-link :to="{name:`card`, params: { id: card.id }}">
                <card-component-front :card='card'/>
              </router-link>
              <div class="buttons mb-5">
                <button class='btn btn-sm'>
                  <span @click='deleteCard(card, index)'>
                    <font-awesome-icon icon='trash' />
                  </span>
                </button>
                <router-link :to="{name:`edit_card`, params: { id: card.id }}" >
                  <font-awesome-icon icon='edit' />
                </router-link>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import CardComponentFront from '@/components/cards/CardComponentFront'

  export default {
    name: 'deck-show',
    components: {
      'card-component-front': CardComponentFront
    },
    computed: mapState({
      deck: state => state.deck,
      cards: state => state.cards
    }),
    mounted() {
      this.$store.dispatch('getDeck', this.$route.params.id)
    },
    methods: {
      myFunction() {
        console.log('clicked delete button')
      },
      deleteCard(card, index) {
        let response = confirm("Are you sure, you want to delete this card?")
        if (response){
          this.deck.cards.splice(index, 1)
          this.$store.dispatch('removeCard', card.id)
        }
      },
    }
  }
</script>
