<template>
  <div id="deck-component">
    <button class="btn btn-sm">
      <router-link :to="{ name: 'deck', params: { id: deck.id } }">
        <p> {{deck.name}} </p>
      </router-link>
    </button>
  </div>
</template>

<script>
export default {
  name: 'deck-component',
  props: {
    deck: {
      required: true,
      type: Object
    }
  }
}
</script>


